

<h1>マイページ</h1>

<% @bookmarks.each do |bookmark| %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/sample.png" alt="sample_image" width="128" hight="128">
        <div class="caption">
          <h4><%= bookmark.category_id %>.<%= bookmark.title %></h4>
          <p style="float:right;"><%= link_to 'Edit', edit_bookmark_path(bookmark), class: "btn btn-primary" %></p>
          <p><%= bookmark.url %></p>
        </div>
      </div>
    </div>
  </div>

<% end %>

<br>
<br>
<%= link_to "ブクマ追加", new_bookmark_path, class: "btn btn-lg btn-default" %>

