
<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <% if @category_title %>
    <strong>Category:</strong>
    <%= @bookmark.category_id %>.<%=h @category_title %></p>
  <% end %>
</p>

<!--<p>-->
<!--  <strong>Category:</strong>-->
<!--  <%= @bookmark.category_id %>-->
<!--</p>-->

<br>
<%= link_to '編集', edit_bookmark_path(@bookmark), class: "btn btn-primary" %>
<%= link_to 'マイページへ戻る', bookmarks_path, class: "btn btn-default" %>
<br>
<br>
<p align="right"><%= link_to '削除', @bookmark, method: :delete, data: { confirm: '本当に削除しますか?' } , class: "btn btn-danger" %></p>
