
<table class="table table-responsive">
<tr>
  <td style="width: 150px;">Title</td>
  <td><%= @bookmark.title %></td>
</tr>
<tr>
  <td>Url</td>
  <td><%= @bookmark.url %></td>
</tr>
<tr>
  <% if @category_title %>
  <td>Category</td>
  <td><%=h @category_title %></td>
  <% end %>
</tr>
</table>

<br>
<%= link_to '編集', edit_bookmark_path(@bookmark), class: "btn btn-primary" %>
<%= link_to 'HOME', bookmarks_path, class: "btn btn-default" %>


<!--<p>-->
<!--  Title:-->
<!--  <strong><%= @bookmark.title %></strong>-->
<!--</p>-->

<!--<p>-->
<!--  Url:-->
<!--  <strong><%= @bookmark.url %></strong>-->
<!--</p>-->

<!--<p>-->
<!--  <% if @category_title %>-->
<!--    Category:-->
<!--    <strong><%= @bookmark.category_id %>.<%=h @category_title %></strong></p>-->
<!--  <% end %>-->
<!--</p>-->
