<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-2">
    </div>
    
    <div class="col-md-10">
      <h4>カテゴリ編集</h4>
      <ul class="nav nav-pills nav-stacked" style="background-color: aliceblue;">
        <li role="presentation">
          <% @categories.each.with_index(1) do |category,index| %>
            <%= link_to edit_category_path(category) do %>
              <%= index %>.<%= category.title %>
              <!--<%= category.id %>.<%= category.title %><span style="float:right;" class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
            <% end %>
          <% end %>
        </li>
      </ul>
       <p style="margin-top:30px; float:right;">
        <%= link_to "カテゴリ作成", new_category_path, class: "btn btn-lg btn-default" %>
      </p>
    </div>
    
  </div>
</div>


<!--  <tbody>-->
<!--    <% @categories.each do |category| %>-->
<!--      <tr>-->
<!--        <td><%= category.user_id %></td>-->
<!--        <td><%= category.title %></td>-->
<!--        <td><%= link_to 'Show', category %></td>-->
<!--        <td><%= link_to 'Edit', edit_category_path(category) %></td>-->
<!--        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--<%= link_to 'New Category', new_category_path %>-->


